@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px; }

.demo-icons li {
  margin-bottom: 50px;
  text-align: center; }

.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px; }

.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px; }

/*# sourceMappingURL=demo.css.map */

.navbar-default .brand {
	padding:10px;
}
.form-control{
	border-radius: 0px;
	border-color: #2b333e;
}
.panel-title{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 5px 0;
}
.panel .panel-heading button {
    padding: 5px 10px;
    margin-left: 0px;
    background-color: #4CAF50;
    border: none;
    outline: none;
}
label{
  font-family: 'Raleway', sans-serif;
}